<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{supplier.action.update.header}">Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:src="@{/webjars/jquery/2.0.3/jquery.min.js}"/>
    <link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet"/>

    <script src="http://maps.googleapis.com/maps/api/js"></script>

    <script th:inline="text">
    /*<![CDATA[*/

    var theList = [[${supplier.places}]]
    for (i = 0; i < theList.length; i++) {
        doSomething(theList[i]);
    }

    /*var myCenter=new google.maps.LatLng(51.508742,-0.120850);*/

    var myCenter=new google.maps.LatLng([[${supplier.places[0].latitude}]],[[${supplier.places[0].longitude}]]);


    function initialize() {
      var mapProp = {
        center:new google.maps.LatLng(51.508742,-0.120850),
        zoom:5,
        mapTypeId:google.maps.MapTypeId.ROADMAP
      };
      var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
      var marker=new google.maps.Marker({position:myCenter});
      marker.setMap(map);
    }
    google.maps.event.addDomListener(window, 'load', initialize);

    /*]]>*/
    </script>
</head>
<body>

<div class="container">
    <h2 th:text="#{supplier.action.update.header}">Header</h2>
    <p th:text="#{supplier.action.update.panel}">Panel description</p>

    <form role="form" th:action="@{'/supplier/update/'}" th:object="${supplier}" th:method="POST">
        <input type="text" th:field="*{id}" hidden="true"/>
        <div class="form-group">
            <label for="name" th:text="#{supplier.name}"/>
            <input type="text" class="form-control" id="name" th:field="*{name}"/>
        </div>
        <div class="form-group">
            <label for="description" th:text="#{supplier.description}"/>
            <input type="text" class="form-control" id="description" th:field="*{description}"/>
        </div>
        <div class="form-group">
            <label for="site" th:text="#{supplier.site}"/>
            <input type="text" class="form-control" id="site" th:field="*{site}"/>
        </div>
        <a role="button" th:href="@{'/supplier/'}" class="btn btn-default" name="back" th:text="#{supplier.action.update.btn.back}"/>
        <button type="submit" id="update-btn" class="btn btn-warning" name="update" th:text="#{supplier.action.update.btn.submit}"/>
    </form>
</div>
<div class="container" id="googleMap"/>

</body>
</html>

