<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Spring Boot CLI + Javascript</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="webjars/jquery/2.0.3/jquery.min.js"/>
    <link href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <h2>Striped Rows</h2>
    <p>The .table-striped class adds zebra-stripes to a table:</p>
    <div class="btn-group" role="group" aria-label="...">
        <a href="add" role="button" class="btn btn-success">добавить</a>
    </div>
    <table class="table table-striped" th:unless="${#lists.isEmpty(suppliers)}">
        <thead>
        <tr>
            <th>Поставщик</th>
            <th>Описание</th>
            <th>Сайт</th>
            <th>Заведения</th>
            <th>Редактировать</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sup : ${suppliers}">
            <td th:text="${{sup.name}}">name</td>
            <td th:text="${{sup.description}}">description</td>
            <td th:text="${{sup.site}}">site</td>
            <td th:text="${{sup.places.size()}}">site</td>
            <td>
                <a role="button" class="btn btn-primary" th:href="@{'/edit/' + ${sup.id}}">Редактировать</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
