<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Spring Boot CLI + Javascript</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="webjars/jquery/2.0.3/jquery.min.js"/>
    <link href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <h2>обновить</h2>
    <p>The .table-striped class adds zebra-stripes to a table:</p>

    <form th:action="@{'/supplier/'}" th:object="${supplier}" th:method="post">
        <input type="text" th:field="*{id}" hidden="true"/>
        <input type="text" th:field="*{name}" />
        <input type="text" th:field="*{description}" />
        <input type="text" th:field="*{site}" />
        <button type="submit" name="modify" th:text="#{sup.name}">update</button>
    </form>
</div>

</body>
</html>
